<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Clients</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        form {
            margin-top: 100px;
        }

    </style>

</head>
<body>
<center><h1 style="font-size:60px;">Clients</h1></center>
<h2><a href="/login">Logout</a><br/></h2>
<h2><a href="/clientPage">Go back to start page</a><br/></h2>
<div class="container">
    <!--<form th:action="@{/client}" method="get">-->
    <!--<input type="submit" class="button" name="reg" value="Add Users"/>-->
    <!--</form>-->

    <hr>
    <h3>Add credit/debit card</h3>
    <form th:action="@{/client}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
        <div class="form-group">
            <label for="accnr" class="col-sm-4 control-label">Account number:</label>
            <div class="col-sm-8">
                <input type="text" name="accnr" id="accnr" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="idate" class="col-sm-4 control-label">Issue date:</label>
            <div class="col-sm-8">
                <input type="text" name="idate" id="idate" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="edate" class="col-sm-4 control-label">Expiry date:</label>
            <div class="col-sm-8">
                <input type="text" name="edate" id="edate" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="sum" class="col-sm-4 control-label">Amount of money:</label>
            <div class="col-sm-8">
                <input type="number" name="sum" id="sum" class="form-control"/>
            </div>
        </div>
        <select id="mySelectos" name="mySelectos" value="mySelectos">
            <option id="credit" value="credit">Credit</option>
            <option id="debit" value="debit">Debit</option>
        </select>


        <input type="submit" class="button" name="addCard" value="Add card to client"/>


        <!-- ALERTS -->
        <div th:if="${updUErr}" class="alert alert-danger" role="alert" th:text="${updMessage}"></div>
        <div th:if="${updUSucc}" class="alert alert-success" role="alert" th:text="${updMessage2}"></div>

    </form>


    <form th:action="@{/cardView}" method="get">
        <input type="submit" class="button" name="viewCards" value="View Cards"/>
    </form>

    <!--<form th:action="@{/logout}" method="get">-->
    <!--<input type="submit" class="button" name="logout" value="Logout"/>-->
    <!--</form>-->
</div>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Account Number</th>
        <th>Issue date</th>
        <th>Expiry date</th>
        <th>Sum</th>
        <th>Credit card</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cards}">
        <td th:text="${card.id}"></td>
        <td th:text="${card.accountNumber}"></td>
        <td th:text="${card.issueDate}"></td>
        <td th:text="${card.expiryDate}"></td>
        <td th:text="${card.sum}"></td>
        <td th:text="${card.credit}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>