<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        form {
            margin-top: 100px;
        }
    </style>
</head>

<body onload="myFunction2()">
<center><h1 style="font-size:60px;">Menu</h1></center>
<h2><a href="/user">Back to user</a><br/></h2>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Ingredients</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dish : ${dishes}">
        <td th:text="${dish.id}"></td>
        <td th:text="${dish.name}"></td>
        <td th:text="${dish.getIngredientList()}"></td>
        <td th:text="${dish.price}"></td>
    </tr>
    </tbody>
</table>


<div class="container">


    <form th:action="@{/menu}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">


        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Name of the dish:</label>
            <div class="col-sm-8">
                <input type="text" name="name" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="price" class="col-sm-4 control-label">Price:</label>
            <div class="col-sm-8">
                <input type="number" name="price" id="price" class="form-control"/>
            </div>
        </div>


        <select id="mySelect2" name="mySelect2">
            <script>
            function myFunction2() {
                var z=[]; var t=[];
                var i;
                var ing=["bread","flour","salt","honey","sugar","potato","pepper","chilly","onion","garlic","salad","tomatoe","cocoa","vanilla","fruits","dough","milk","cheese","ham","chicken","beaf","pork"]
                for(i=0;i<22;i++){
                    z[i]= document.createElement("option");
                    z[i].setAttribute("value", ing[i]);
                    t[i]=document.createTextNode(ing[i]);
                    z[i].appendChild(t[i]);
                    document.getElementById("mySelect2").appendChild(z[i]);
                }
            }

            </script>
        </select>


        <input type="submit" class="button" name="ps" value="Add ingredient to dish"/>

        <div class="form-group">
            <label for="id" class="col-sm-4 control-label">ID for update/delete</label>
            <div class="col-sm-8">
                <input type="number" name="id" id="id" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="update" value="Update Dish"/>
        <input type="submit" class="button" name="dlt" value="Delete Dish"/>

        <!-- ALERTS -->
        <div th:if="${updUErr}" class="alert alert-danger" role="alert" th:text="${updMessage}"></div>
        <div th:if="${updUSucc}" class="alert alert-success" role="alert" th:text="${updMessage2}"></div>
    </form>


    <form th:action="@{/dishesView}" method="get">
        <input type="submit" class="button" name="viewDishes" value="View Dishes"/>
    </form>

    <form th:action="@{/logout}" method="get">
        <input type="submit" class="button" name="logout" value="Logout"/>
    </form>
</div>


</body>
</html>