<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Secretary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>


    <style>
        form {
            margin-top: 100px;
        }





    </style>

</head>
<body onload="connect()" onunload="disconnect()">
<center><h1 style="font-size:60px;">Secretary Operations</h1></center>
<h2><a href="/login">Logout</a><br/></h2>

<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<!--<p>-->
<!--<button id="send" class="btn btn-default" type="submit">Inform doctor</button>-->
<!--</p>-->
<div class="container">
    <h1>Add / Update Patient</h1>

    <!--<input type="submit" class="button" name="addCons" value="addCons"/>-->
    <form th:action="@{/secretaryOp}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">

        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Name:</label>
            <div class="col-sm-8">
                <input type="text" name="name" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="icn" class="col-sm-4 control-label">Id card nr:</label>
            <div class="col-sm-8">
                <input type="number" name="icn" id="icn" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="pnc" class="col-sm-4 control-label">Pers num code:</label>
            <div class="col-sm-8">
                <input type="number" name="pnc" id="pnc" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="bday" class="col-sm-4 control-label">Date of birth:</label>
            <div class="col-sm-8">
                <input type="text" name="bday" id="bday" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="addr" class="col-sm-4 control-label">Address:</label>
            <div class="col-sm-8">
                <input type="text" name="addr" id="addr" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="addP" value="Add Patient"/>

        <div class="form-group">
            <label for="id" class="col-sm-4 control-label">ID for update</label>
            <div class="col-sm-8">
                <input type="number" name="id" id="id" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="update" value="Update Patient"/>
        <!--<input type="submit" class="button" name="deleteP" value="Delete Patient"/>-->
        <!--<button id="send" class="btn btn-default" type="submit">Send</button>-->


        <!-- ALERTS -->
        <div th:if="${updUErr}" class="alert alert-danger" role="alert" th:text="${updMessage}"></div>
        <div th:if="${updUSucc}" class="alert alert-success" role="alert" th:text="${updMessage2}"></div>

        <!--</form>-->

        <h2>Consultations</h2>

        <div class="form-group">
            <label for="cday" class="col-sm-4 control-label">Consultation date:</label>
            <div class="col-sm-8">
                <input type="text" name="cday" id="cday" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="idPat" class="col-sm-4 control-label">Patient ID</label>
            <div class="col-sm-8">
                <input type="number" name="idPat" id="idPat" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="idDoc" class="col-sm-4 control-label">Doctor ID</label>
            <div class="col-sm-8">
                <input type="number" name="idDoc" id="idDoc" class="form-control"/>
            </div>
        </div>
    </form>
    <button id="addCons" class="btn btn-default" type="submit">Add consultation</button>
    <form th:action="@{/secretaryOp}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
        <!--<input type="submit" class="button" name="addCons" value="addCons"/>-->

        <div class="form-group">
            <label for="idCon" class="col-sm-4 control-label">Consultation ID for update</label>
            <div class="col-sm-8">
                <input type="number" name="idCon" id="idCon" class="form-control"/>
            </div>
        </div>

        <input type="submit" class="button" name="updCon" value="Update consultation"/>
        <input type="submit" class="button" name="delCon" value="Delete consultation"/>
        <!-- ALERTS -->
        <div th:if="${conErr}" class="alert alert-danger" role="alert" th:text="${coneMsg}"></div>
        <div th:if="${conSucc}" class="alert alert-success" role="alert" th:text="${consMsg}"></div>

    </form>


    <form th:action="@{/patientView}" method="get">
        <input type="submit" class="button" name="viewPatients" value="View Patients"/>
    </form>

    <form th:action="@{/consultView}" method="get">
        <input type="submit" class="button" name="viewConsultations" value="View Consultations"/>
    </form>

    <!--<form th:action="@{/logout}" method="get">-->
    <!--<input type="submit" class="button" name="logout" value="Logout"/>-->
    <!--</form>-->
</div>

<div th:if="${param.success}">
    Author created successfully!
</div>

<h2>Patients Table</h2>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Id card nr</th>
        <th>Pers num code</th>
        <th>Date of birth</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.name}"></td>
        <td th:text="${patient.id_card_nr}"></td>
        <td th:text="${patient.pers_num_code}"></td>
        <td th:text="${patient.birthday}"></td>
        <td th:text="${patient.address}"></td>

    </tr>
    </tbody>
</table>

<h2>Consultations Table</h2>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>PatientID</th>
        <th>DoctorID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cons : ${consultations}">
        <td th:text="${cons.id}"></td>
        <td th:text="${cons.date}"></td>
        <td th:text="${cons.patient.id}"></td>
        <td th:text="${cons.doctor.id}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>